$alert-close-size : 20 !default


.Alert
    position: fixed
    bottom: 20px
    right: 20px
    background-color: white
    z-index: 5
    transition: all ease 0.5s
    +border-radius($global-radius)
    .Content &
        position: relative
        bottom: 0px
        right: 0px

    @each $name, $colors in $alertMap
       $bgcolor: nth($colors, 1)
       $fontcolor: nth($colors, 2)

       &--#{$name}
          background-color: $bgcolor
          color: $fontcolor
          *
             color: $fontcolor !important

.Alert__content
    padding: 20px 25px

.Alert__title
    font-size: 1.6rem
    margin-bottom: 12px

.Alert__body

.Alert__close
    position: absolute
    top: 6px
    right: 6px
    width: $alert-close-size
    height: $alert-close-size
    display: flex
    justify-content: center
    align-content: center
    background-color: rgba(0,0,0,0.15)
    +border-radius(50%)
    cursor: pointer


.hide
    opacity: 0
