.Card
	display: flex
	flex-flow: column wrap
	background-color: $card-background
	+border-radius($global-radius)
	border-bottom: $card-border-bottom
	overflow: hidden

.Card__title
	width: 100%
	height: 40px

.Card__body
	p
		padding: 10px 20px