.Code_Block
    overflow: auto
    code
        line-height: 2em
        padding: 20px 40px
        +border-radius(4px)
        color: white
        *
            font-family: 'Fira Mono', monospaced !important
        .hljs-attr
            color: white
