$form-group-flow: !default
$form-group-padding: !default
$input-border           : 1px solid lighten($brand-primary, 60%) !default
$input-border-focus     : lighten($brand-primary, 25%) !default
$input-color-placeholder: lighten($text-color, 30%) !default
$input-padding          : 10px 15px !default
$input-height           : 40px !default
//|--------------------------------------------------------

.Form
    display: flex
    flex-direction: column

.Form__group
    display: flex
    flex-flow: $form-group-flow
    padding: $form-group-padding

    input[type=text],
    input[type=email],
    input[type=date],
    input[type=password],
    select
        border: $input-border !important
        padding: $input-padding
        height: $input-height
        +border-radius($global-radius)
        &:focus
            outline: $input-border-focus
