*
	color: $text-color
	font-family: 'Muli', sans-serif

	
@for $i from 1 through 6 
  h#{$i} 
    font-size: $font-size-base + $heading-scale * (6 - $i)

.Quote_Block
	font-family: 'Indie Flower', cursive