@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Muli|Fira+Mono);/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */

a:hover,
a:active {
  outline: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video,
.wp-video {
  width: 100%;
  height: auto;
}

svg {
  height: 100%;
  max-width: 100%;
}

/* Coolors Exported Palette - coolors.co/e8e8e8-66d7d1-182f3c-050517-cf5c36 */

/* HSL */

body {
  background-color: #f5f8fa;
}

* {
  color: #050515;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  line-height: 18.2px;
}

h1 {
  font-size: 54px;
  line-height: 54px;
  margin-bottom: 14px;
}

h2 {
  font-size: 46px;
  line-height: 46px;
  margin-bottom: 14px;
}

h3 {
  font-size: 38px;
  line-height: 38px;
  margin-bottom: 14px;
}

h4 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 14px;
}

h5 {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 14px;
}

h6 {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 14px;
}

.Blockquote {
  position: relative;
  font-family: 'Indie Flower', cursive;
  color: #3d3a3f;
  padding: 20px;
  font-size: 1.4em;
  background: #736e76;
}

.Blockquote::before,
.Blockquote::after {
  content: "\"";
}

.Blockquote:before {
  position: absolute;
  left: 10px;
}

p {
  margin-bottom: 5px;
}

pre,
code {
  font-family: 'Fira Mono', monospace !important;
}

.Container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

.Navigation {
  position: relative;
  background-color: #b96e17;
  color: white;
}

.Navigation a {
  color: white;
}

.Nav--Floating_Links {
  height: 60px;
}

.Nav--Floating_Links > .Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 50px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4px 8px;
}

@media only screen and (min-width: 990px) {
  .Nav__toggle {
    display: none;
  }
}

.Nav__toggle span {
  display: block;
  background: white;
  height: 4px;
}

.Nav__toggle:hover {
  background-color: #f9ad56;
}

.Nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.Nav__list--Dropdown {
  min-width: 100%;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #b96e17;
  z-index: 11;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.Nav__list--Bar {
  display: none;
}

@media only screen and (min-width: 990px) {
  .Nav__list--Bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.Nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.Nav__item a {
  padding: 8px 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  white-space: nowrap;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.Nav__item a:hover {
  background-color: #f9ad56;
}

.Nav__item:hover .Nav__list--Dropdown {
  height: auto;
  opacity: 1;
}

.Nav__item--Seperator {
  display: block;
  height: 3px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f7921e;
}

.Hamburger {
  position: relative;
  display: block;
  width: 20px;
  margin-left: auto;
  cursor: pointer;
}

.Hamburger:hover {
  background-color: #e38920;
}

.Hamburger span {
  position: absolute;
  display: block;
  width: 16px;
  left: calc(50% - 8px);
  height: 1px;
  background-color: white;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.Hamburger span:nth-child(1) {
  top: calc(50% - 6px);
}

.Hamburger span:nth-child(2) {
  top: calc(50% - 1px);
}

.Hamburger span:nth-child(3) {
  top: calc(50% + 4px);
}

.Hamburger.is-active span:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
}

.Hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.Hamburger.is-active span:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
          transform: translateY(-5px) rotate(-45deg);
}

.Alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  z-index: 5;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  border-radius: 4px;
}

.Content .Alert {
  position: relative;
  bottom: 0px;
  right: 0px;
}

.Alert--Primary {
  background-color: #f7921e;
  color: #fff;
}

.Alert--Primary * {
  color: #fff !important;
}

.Alert--Primary span {
  background-color: #fff !important;
}

.Alert--Primary_Dark {
  background-color: #b96e17;
  color: #fff;
}

.Alert--Primary_Dark * {
  color: #fff !important;
}

.Alert--Primary_Dark span {
  background-color: #fff !important;
}

.Alert--Primary_Light {
  background-color: #f9ad56;
  color: #fff;
}

.Alert--Primary_Light * {
  color: #fff !important;
}

.Alert--Primary_Light span {
  background-color: #fff !important;
}

.Alert--Secondary {
  background-color: #172d3a;
  color: #fff;
}

.Alert--Secondary * {
  color: #fff !important;
}

.Alert--Secondary span {
  background-color: #fff !important;
}

.Alert--Tertiary {
  background-color: #1e83f7;
  color: #fff;
}

.Alert--Tertiary * {
  color: #fff !important;
}

.Alert--Tertiary span {
  background-color: #fff !important;
}

.Alert--Error {
  background-color: #8e1225;
  color: #fff;
}

.Alert--Error * {
  color: #fff !important;
}

.Alert--Error span {
  background-color: #fff !important;
}

.Alert--Success {
  background-color: #62d5ab;
  color: #fff;
}

.Alert--Success * {
  color: #fff !important;
}

.Alert--Success span {
  background-color: #fff !important;
}

.Alert--Warning {
  background-color: #def362;
  color: black;
}

.Alert--Warning * {
  color: black !important;
}

.Alert--Warning span {
  background-color: black !important;
}

.Alert--Info {
  background-color: #2babda;
  color: #fff;
}

.Alert--Info * {
  color: #fff !important;
}

.Alert--Info span {
  background-color: #fff !important;
}

.Alert--Dark_Gray {
  background-color: #3d3a3f;
  color: #fff;
}

.Alert--Dark_Gray * {
  color: #fff !important;
}

.Alert--Dark_Gray span {
  background-color: #fff !important;
}

.Alert--Gray {
  background-color: #d5d4d4;
  color: #fff;
}

.Alert--Gray * {
  color: #fff !important;
}

.Alert--Gray span {
  background-color: #fff !important;
}

.Alert--Light_Gray {
  background-color: #736e76;
  color: #fff;
}

.Alert--Light_Gray * {
  color: #fff !important;
}

.Alert--Light_Gray span {
  background-color: #fff !important;
}

.Alert__content {
  padding: 20px 25px;
}

.Alert__title {
  font-size: 1.6rem;
  margin-bottom: 12px;
}

.Alert__close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  cursor: pointer;
}

.Alert__close span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8px;
  height: 1px;
  background-color: black;
}

.Alert__close span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.Alert__close span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hide {
  opacity: 0;
}

.Form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 5px 0;
}

.Form__group input[type=text],
.Form__group input[type=email],
.Form__group input[type=password],
.Form__group select {
  border: #2929bc;
  padding: 10px 15px;
  height: 40px;
  border-radius: 4px;
}

.Form__group input[type=text]:focus,
.Form__group input[type=email]:focus,
.Form__group input[type=password]:focus,
.Form__group select:focus {
  outline: #fbce99;
}

.Form__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

.Form__switch input {
  display: block;
}

.Form__switch input:checked + .Form__slider {
  background-color: #62d5ab;
}

.Form__switch input:focus + .Form__slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

.Form__switch input:checked + .Form__slider:before {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.Form__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 4px;
}

.Form__slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 2px;
}

.Hero {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.Hero__body {
  padding: 40px 20px;
}

.Hero--Small {
  padding: 20px;
}

.Hero--Large {
  padding: 60px 0px;
}

.Hero--Extra_Large {
  padding: 140px 0;
}

.Content {
  position: relative;
}

.Content__title {
  margin: 30px 0 40px;
}

.Content__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  bottom: 40%;
  right: 102%;
  width: 100%;
  width: 100vw;
  background-color: #f7921e;
  opacity: .4;
}

.Grid--Flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media only screen and (min-width: 600px) {
  .Grid--Flex.is-spaced {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }

  .Grid--Flex.is-spaced .Column {
    margin: 0 0.75rem;
  }
}

.Grid--Flex .Column {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .Grid--Flex .Column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .Grid--Flex .Column.is-one-quarter {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 25%;
  }

  .Grid--Flex .Column.is-one-third {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 33%;
  }

  .Grid--Flex .Column.is-half {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 50%;
  }

  .Grid--Flex .Column.is-two-thirds {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 66%;
  }

  .Grid--Flex .Column.is-three-quarters {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 75%;
  }

  .Grid--Flex .Column.is-1-wide {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(8.33333333% - 1.5rem);
            flex: 0 1 calc(8.33333333% - 1.5rem);
  }

  .Grid--Flex .Column.is-2-wide {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(16.66666667% - 1.5rem);
            flex: 0 1 calc(16.66666667% - 1.5rem);
  }

  .Grid--Flex .Column.is-3-wide {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(25% - 1.5rem);
            flex: 0 1 calc(25% - 1.5rem);
  }

  .Grid--Flex .Column.is-4-wide {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(33.33333333% - 1.5rem);
            flex: 0 1 calc(33.33333333% - 1.5rem);
  }

  .Grid--Flex .Column.is-5-wide {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(41.66666667% - 1.5rem);
            flex: 0 1 calc(41.66666667% - 1.5rem);
  }

  .Grid--Flex .Column.is-6-wide {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5rem);
            flex: 0 1 calc(50% - 1.5rem);
  }

  .Grid--Flex .Column.is-7-wide {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(58.33333333% - 1.5rem);
            flex: 0 1 calc(58.33333333% - 1.5rem);
  }

  .Grid--Flex .Column.is-8-wide {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(66.66666667% - 1.5rem);
            flex: 0 1 calc(66.66666667% - 1.5rem);
  }

  .Grid--Flex .Column.is-9-wide {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(75% - 1.5rem);
            flex: 0 1 calc(75% - 1.5rem);
  }

  .Grid--Flex .Column.is-10-wide {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(83.33333333% - 1.5rem);
            flex: 0 1 calc(83.33333333% - 1.5rem);
  }

  .Grid--Flex .Column.is-11-wide {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(91.66666667% - 1.5rem);
            flex: 0 1 calc(91.66666667% - 1.5rem);
  }

  .Grid--Flex .Column.is-12-wide {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% - 1.5rem);
            flex: 0 1 calc(100% - 1.5rem);
  }
}

.Grid {
  display: Grid;
  grid-template-columns: repeat(12, 1fr);
}

.Grid.is-spaced {
  grid-gap: 0.75rem;
}

.Grid.has-1-columns {
  grid-template-columns: repeat(1, 1fr);
}

.Grid.has-2-columns {
  grid-template-columns: repeat(2, 1fr);
}

.Grid.has-3-columns {
  grid-template-columns: repeat(3, 1fr);
}

.Grid.has-4-columns {
  grid-template-columns: repeat(4, 1fr);
}

.Grid.has-5-columns {
  grid-template-columns: repeat(5, 1fr);
}

.Grid.has-6-columns {
  grid-template-columns: repeat(6, 1fr);
}

.Grid.has-7-columns {
  grid-template-columns: repeat(7, 1fr);
}

.Grid.has-8-columns {
  grid-template-columns: repeat(8, 1fr);
}

.Grid.has-9-columns {
  grid-template-columns: repeat(9, 1fr);
}

.Grid.has-10-columns {
  grid-template-columns: repeat(10, 1fr);
}

.Grid.has-11-columns {
  grid-template-columns: repeat(11, 1fr);
}

.Grid .Column {
  grid-column: span 12;
}

@media only screen and (min-width: 600px) {
  .Grid .Column {
    grid-column: span 1;
  }

  .Grid .Column.is-quarter {
    grid-column: span 3;
  }

  .Grid .Column.is-half {
    grid-column: span 6;
  }

  .Grid .Column.is-1-wide {
    grid-column: span 1;
  }

  .Grid .Column.is-2-wide {
    grid-column: span 2;
  }

  .Grid .Column.is-3-wide {
    grid-column: span 3;
  }

  .Grid .Column.is-4-wide {
    grid-column: span 4;
  }

  .Grid .Column.is-5-wide {
    grid-column: span 5;
  }

  .Grid .Column.is-6-wide {
    grid-column: span 6;
  }

  .Grid .Column.is-7-wide {
    grid-column: span 7;
  }

  .Grid .Column.is-8-wide {
    grid-column: span 8;
  }

  .Grid .Column.is-9-wide {
    grid-column: span 9;
  }

  .Grid .Column.is-10-wide {
    grid-column: span 10;
  }

  .Grid .Column.is-11-wide {
    grid-column: span 11;
  }

  .Grid .Column.is-12-wide {
    grid-column: span 12;
  }
}

.Button {
  display: block;
  padding: 5px 10px;
  color: #3d3a3f;
  border: none;
  background-color: #d5d4d4;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.Button--Error {
  background-color: #8e1225;
  color: #fff;
}

.Button--Success {
  background-color: #62d5ab;
  color: #fff;
}

.Button--Warning {
  background-color: #def362;
  color: #fff;
}

.Button--Info {
  background-color: #2babda;
  color: #fff;
}

.Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: white;
  border-radius: 4px 4px 0 0;
  border-bottom: 2px solid #172d3a;
  overflow: hidden;
}

.Card__title {
  width: 100%;
  height: 40px;
}

.Card__body {
  padding: 10px 20px;
}

.Code_Block {
  overflow: auto;
}

.Code_Block code {
  line-height: 2em;
  padding: 20px 40px;
  border-radius: 4px;
  color: white;
}

.Code_Block code * {
  font-family: 'Fira Mono', monospaced !important;
}

.Code_Block code .hljs-attr {
  color: white;
}

.Background--Primary {
  background-color: #f7921e;
  color: #fff;
}

.Background--Primary * {
  color: #fff !important;
}

.Background--Primary_Dark {
  background-color: #b96e17;
  color: #fff;
}

.Background--Primary_Dark * {
  color: #fff !important;
}

.Background--Primary_Light {
  background-color: #f9ad56;
  color: #fff;
}

.Background--Primary_Light * {
  color: #fff !important;
}

.Background--Secondary {
  background-color: #172d3a;
  color: #fff;
}

.Background--Secondary * {
  color: #fff !important;
}

.Background--Tertiary {
  background-color: #1e83f7;
  color: #fff;
}

.Background--Tertiary * {
  color: #fff !important;
}

.Background--Error {
  background-color: #8e1225;
  color: #fff;
}

.Background--Error * {
  color: #fff !important;
}

.Background--Success {
  background-color: #62d5ab;
  color: #fff;
}

.Background--Success * {
  color: #fff !important;
}

.Background--Warning {
  background-color: #def362;
  color: black;
}

.Background--Warning * {
  color: black !important;
}

.Background--Info {
  background-color: #2babda;
  color: #fff;
}

.Background--Info * {
  color: #fff !important;
}

.Background--Dark_Gray {
  background-color: #3d3a3f;
  color: #fff;
}

.Background--Dark_Gray * {
  color: #fff !important;
}

.Background--Gray {
  background-color: #d5d4d4;
  color: #fff;
}

.Background--Gray * {
  color: #fff !important;
}

.Background--Light_Gray {
  background-color: #736e76;
  color: #fff;
}

.Background--Light_Gray * {
  color: #fff !important;
}

@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  10% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }

  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
}

@keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  10% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }

  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }

  90% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }

  90% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.text-centered {
  text-align: center;
}

.text-shadow {
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.4);
}

.is-circle {
  border-radius: 50%;
}

.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.is-danger {
  background-color: #8e1225;
  color: #fff;
}

.is-success {
  background-color: #62d5ab;
}

.is-info {
  background-color: #2babda;
}

.is-warning {
  background-color: #def362;
}

.is-rounded {
  border-radius: 4px;
}

.has-shadow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.m-5 {
  margin: 5px !important;
}

.m-x-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.m-y-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.p-5 {
  padding: 5px !important;
}

.p-x-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.p-y-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-x-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.m-y-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-x-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.p-y-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-x-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.m-y-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-x-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.p-y-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-x-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.m-y-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-x-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.p-y-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.m-25 {
  margin: 25px !important;
}

.m-x-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.m-y-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.p-25 {
  padding: 25px !important;
}

.p-x-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.p-y-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.p-l-25 {
  padding-left: 25px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-x-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.m-y-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-x-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.p-y-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.m-35 {
  margin: 35px !important;
}

.m-x-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.m-y-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.p-35 {
  padding: 35px !important;
}

.p-x-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.p-y-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.m-t-35 {
  margin-top: 35px !important;
}

.p-t-35 {
  padding-top: 35px !important;
}

.m-r-35 {
  margin-right: 35px !important;
}

.p-r-35 {
  padding-right: 35px !important;
}

.m-b-35 {
  margin-bottom: 35px !important;
}

.p-b-35 {
  padding-bottom: 35px !important;
}

.m-l-35 {
  margin-left: 35px !important;
}

.p-l-35 {
  padding-left: 35px !important;
}

.m-40 {
  margin: 40px !important;
}

.m-x-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.m-y-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.p-40 {
  padding: 40px !important;
}

.p-x-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.p-y-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.p-l-40 {
  padding-left: 40px !important;
}

.m-45 {
  margin: 45px !important;
}

.m-x-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.m-y-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.p-45 {
  padding: 45px !important;
}

.p-x-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.p-y-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.m-t-45 {
  margin-top: 45px !important;
}

.p-t-45 {
  padding-top: 45px !important;
}

.m-r-45 {
  margin-right: 45px !important;
}

.p-r-45 {
  padding-right: 45px !important;
}

.m-b-45 {
  margin-bottom: 45px !important;
}

.p-b-45 {
  padding-bottom: 45px !important;
}

.m-l-45 {
  margin-left: 45px !important;
}

.p-l-45 {
  padding-left: 45px !important;
}

.m-50 {
  margin: 50px !important;
}

.m-x-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.m-y-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.p-50 {
  padding: 50px !important;
}

.p-x-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.p-y-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.p-t-50 {
  padding-top: 50px !important;
}

.m-r-50 {
  margin-right: 50px !important;
}

.p-r-50 {
  padding-right: 50px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

.m-l-50 {
  margin-left: 50px !important;
}

.p-l-50 {
  padding-left: 50px !important;
}

.m-75 {
  margin: 75px !important;
}

.m-x-75 {
  margin-left: 75px !important;
  margin-right: 75px !important;
}

.m-y-75 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}

.p-75 {
  padding: 75px !important;
}

.p-x-75 {
  padding-left: 75px !important;
  padding-right: 75px !important;
}

.p-y-75 {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}

.m-t-75 {
  margin-top: 75px !important;
}

.p-t-75 {
  padding-top: 75px !important;
}

.m-r-75 {
  margin-right: 75px !important;
}

.p-r-75 {
  padding-right: 75px !important;
}

.m-b-75 {
  margin-bottom: 75px !important;
}

.p-b-75 {
  padding-bottom: 75px !important;
}

.m-l-75 {
  margin-left: 75px !important;
}

.p-l-75 {
  padding-left: 75px !important;
}

.m-100 {
  margin: 100px !important;
}

.m-x-100 {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.m-y-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.p-100 {
  padding: 100px !important;
}

.p-x-100 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.p-y-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.m-t-100 {
  margin-top: 100px !important;
}

.p-t-100 {
  padding-top: 100px !important;
}

.m-r-100 {
  margin-right: 100px !important;
}

.p-r-100 {
  padding-right: 100px !important;
}

.m-b-100 {
  margin-bottom: 100px !important;
}

.p-b-100 {
  padding-bottom: 100px !important;
}

.m-l-100 {
  margin-left: 100px !important;
}

.p-l-100 {
  padding-left: 100px !important;
}

@media only screen and (min-width: 0) {
  .is-visible-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 0) and (max-width: 599px) {
  .is-hidden-mobile {
    display: none;
  }
}

@media only screen and (min-width: 0) and (max-width: 599px) {
  .is-visible-mobile-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 0) and (max-width: 599px) {
  .is-hidden-mobile-only {
    display: hidden;
  }
}

@media only screen and (min-width: 600px) {
  .is-visible-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 0) and (max-width: 989px) {
  .is-hidden-tablet {
    display: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 989px) {
  .is-visible-tablet-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 600px) and (max-width: 989px) {
  .is-hidden-tablet-only {
    display: hidden;
  }
}

@media only screen and (min-width: 990px) {
  .is-visible-tablet-portrait {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 0) and (max-width: 1299px) {
  .is-hidden-tablet-portrait {
    display: none;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1299px) {
  .is-visible-tablet-portrait-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1299px) {
  .is-hidden-tablet-portrait-only {
    display: hidden;
  }
}

@media only screen and (min-width: 1300px) {
  .is-visible-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 0) and (max-width: 1799px) {
  .is-hidden-desktop {
    display: none;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1799px) {
  .is-visible-desktop-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1799px) {
  .is-hidden-desktop-only {
    display: hidden;
  }
}

@media only screen and (min-width: 1800px) {
  .is-visible-desktop-hd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 0) and (max-width: 99998px) {
  .is-hidden-desktop-hd {
    display: none;
  }
}

@media only screen and (min-width: 1800px) and (max-width: 99998px) {
  .is-visible-desktop-hd-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1800px) and (max-width: 99998px) {
  .is-hidden-desktop-hd-only {
    display: hidden;
  }
}

.is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-full {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.flex-end {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.has-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Visibility .is-visible-mobile {
  display: block;
  background: #8e1225;
  color: white;
}

@media only screen and (min-width: 0) {
  .Visibility .is-visible-mobile {
    display: block;
    background: #62d5ab;
    color: white;
  }
}

.Visibility .is-hidden-mobile {
  display: block;
  background: #62d5ab;
  color: white;
}

@media only screen and (min-width: 0) and (max-width: 599px) {
  .Visibility .is-hidden-mobile {
    display: block;
    background: #8e1225;
    color: white;
  }
}

.Visibility .is-visible-mobile-only {
  display: block;
  background: #8e1225;
  color: white;
}

@media only screen and (min-width: 0) and (max-width: 599px) {
  .Visibility .is-visible-mobile-only {
    display: block;
    background: #62d5ab;
    color: white;
  }
}

.Visibility .is-hidden-mobile-only {
  display: block;
  background: #62d5ab;
  color: white;
}

@media only screen and (min-width: 0) and (max-width: 599px) {
  .Visibility .is-hidden-mobile-only {
    display: block;
    background: #8e1225;
    color: white;
  }
}

.Visibility .is-visible-tablet {
  display: block;
  background: #8e1225;
  color: white;
}

@media only screen and (min-width: 600px) {
  .Visibility .is-visible-tablet {
    display: block;
    background: #62d5ab;
    color: white;
  }
}

.Visibility .is-hidden-tablet {
  display: block;
  background: #62d5ab;
  color: white;
}

@media only screen and (min-width: 0) and (max-width: 989px) {
  .Visibility .is-hidden-tablet {
    display: block;
    background: #8e1225;
    color: white;
  }
}

.Visibility .is-visible-tablet-only {
  display: block;
  background: #8e1225;
  color: white;
}

@media only screen and (min-width: 600px) and (max-width: 989px) {
  .Visibility .is-visible-tablet-only {
    display: block;
    background: #62d5ab;
    color: white;
  }
}

.Visibility .is-hidden-tablet-only {
  display: block;
  background: #62d5ab;
  color: white;
}

@media only screen and (min-width: 600px) and (max-width: 989px) {
  .Visibility .is-hidden-tablet-only {
    display: block;
    background: #8e1225;
    color: white;
  }
}

.Visibility .is-visible-tablet-portrait {
  display: block;
  background: #8e1225;
  color: white;
}

@media only screen and (min-width: 990px) {
  .Visibility .is-visible-tablet-portrait {
    display: block;
    background: #62d5ab;
    color: white;
  }
}

.Visibility .is-hidden-tablet-portrait {
  display: block;
  background: #62d5ab;
  color: white;
}

@media only screen and (min-width: 0) and (max-width: 1299px) {
  .Visibility .is-hidden-tablet-portrait {
    display: block;
    background: #8e1225;
    color: white;
  }
}

.Visibility .is-visible-tablet-portrait-only {
  display: block;
  background: #8e1225;
  color: white;
}

@media only screen and (min-width: 990px) and (max-width: 1299px) {
  .Visibility .is-visible-tablet-portrait-only {
    display: block;
    background: #62d5ab;
    color: white;
  }
}

.Visibility .is-hidden-tablet-portrait-only {
  display: block;
  background: #62d5ab;
  color: white;
}

@media only screen and (min-width: 990px) and (max-width: 1299px) {
  .Visibility .is-hidden-tablet-portrait-only {
    display: block;
    background: #8e1225;
    color: white;
  }
}

.Visibility .is-visible-desktop {
  display: block;
  background: #8e1225;
  color: white;
}

@media only screen and (min-width: 1300px) {
  .Visibility .is-visible-desktop {
    display: block;
    background: #62d5ab;
    color: white;
  }
}

.Visibility .is-hidden-desktop {
  display: block;
  background: #62d5ab;
  color: white;
}

@media only screen and (min-width: 0) and (max-width: 1799px) {
  .Visibility .is-hidden-desktop {
    display: block;
    background: #8e1225;
    color: white;
  }
}

.Visibility .is-visible-desktop-only {
  display: block;
  background: #8e1225;
  color: white;
}

@media only screen and (min-width: 1300px) and (max-width: 1799px) {
  .Visibility .is-visible-desktop-only {
    display: block;
    background: #62d5ab;
    color: white;
  }
}

.Visibility .is-hidden-desktop-only {
  display: block;
  background: #62d5ab;
  color: white;
}

@media only screen and (min-width: 1300px) and (max-width: 1799px) {
  .Visibility .is-hidden-desktop-only {
    display: block;
    background: #8e1225;
    color: white;
  }
}

.Visibility .is-visible-desktop-hd {
  display: block;
  background: #8e1225;
  color: white;
}

@media only screen and (min-width: 1800px) {
  .Visibility .is-visible-desktop-hd {
    display: block;
    background: #62d5ab;
    color: white;
  }
}

.Visibility .is-hidden-desktop-hd {
  display: block;
  background: #62d5ab;
  color: white;
}

@media only screen and (min-width: 0) and (max-width: 99998px) {
  .Visibility .is-hidden-desktop-hd {
    display: block;
    background: #8e1225;
    color: white;
  }
}

.Visibility .is-visible-desktop-hd-only {
  display: block;
  background: #8e1225;
  color: white;
}

@media only screen and (min-width: 1800px) and (max-width: 99998px) {
  .Visibility .is-visible-desktop-hd-only {
    display: block;
    background: #62d5ab;
    color: white;
  }
}

.Visibility .is-hidden-desktop-hd-only {
  display: block;
  background: #62d5ab;
  color: white;
}

@media only screen and (min-width: 1800px) and (max-width: 99998px) {
  .Visibility .is-hidden-desktop-hd-only {
    display: block;
    background: #8e1225;
    color: white;
  }
}

